extends layouts/bukee

block variables
	- var title = "Bukee"

block content
	.page-main
		.wrapper.-lines
			.nav
				= '\n\t\t\t\t'
				a(href="")._logo
				ul.nav-list
					each val, index in ['Home','About','Contents','Books','Education','Skills','Portfolio','Clients','Contact']
						if index===0
							li
								a(href="")._item.-active= val
						else
							li
								a(href="")._item= val
			.headerbox
				.headerbox-book
					p._title.headers.headers--white.headers--center Good book
						span._subtitle.subheaders Don’t judge a book by its cover
					p._author.supertitle.supertitle--green - By Emma Anderson
				.headerbox-desc
					p._author.supertitle.supertitle--white - By Emma Anderson
					h2._title.headers.headers--white BUKEE: THE BOOK
						span._subtitle.subheaders A room without books is like a body without a soul
					p._text.content.content--white Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					p._text.content.content--white Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
					= '\n\t\t\t\t\t'
					a(href="#")._btn.btn-primary Buy this book - $15.00
					= '\n\t\t\t\t\t'
					small._tip * Some conditions may applicable
	.page-stats
		.wrapper.-flex
			.desc
				p._author.supertitle - Book Author
				h2._title.headers Emma Anderson
					span._subtitle.subheaders A room without books is like a body without a soul
				p._text.content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p._text.content Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
				= '\n\t\t\t\t'
				a(href="#")._btn.btn-primary Read full biography
			.author-img.-right
				= '\n\t\t\t\t'
				img(src="img/emma_anderson_first.jpg" alt="Emma Anderson")._pic
		ul.stats
			li.stats-item 12
				span._caption Total published books
			li.stats-item 5
				span._caption Best selling books
			li.stats-item 15,000
				span._caption Happy readers
	.page-contents
		.wrapper
			h2.contents-title.headers.headers--center Book Contents
				span.contents-subtitle.subheaders Let’s see what we have covered in the book
			.box-contents
				.about
					h3._title About the book
					p._text.content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur.
					p._features Featured in:
						= '\n\t\t\t\t\t\t'
						a(href="" target="_blank").fab.fa-stack-overflow
						= '\n\t\t\t\t\t\t'
						a(href="" target="_blank").fab.fa-amazon
						= '\n\t\t\t\t\t\t'
						a(href="" target="_blank").fab.fa-sass
				.toc
					h3._title Table of contents
					ol.toc-list
						each i in [0,1,2,3]
							each val in ["Lorem ipsum dolor sit amet","Consectetur adipisicing elit","Labore et dolore magna","Consectetur adipisicing elit","Labore et dolore magna"]
								li._element=val
					button(type="button")._btn.btn-primary More
	.page-books
		.wrapper
			h2.books-title.headers.headers--center Other Books
				span.books-subtitle.subheaders Some books you might be interested in
			.flex-books
				.flex-books-item
					.box-book
						p._title.headers.headers--white.headers--center Inception
							span._subtitle.subheaders Books are the best friends
						p._author.supertitle.supertitle--green - By Emma Anderson
					h3._title Inception
					p._text.content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
					= '\n\t\t\t\t\t'
					a(href="")._more READ MORE
				.flex-books-item
					.box-book
						p._title.headers.headers--white.headers--center Fight Club
							span._subtitle.subheaders Books are the best friends
						p._author.supertitle.supertitle--green - By Emma Anderson
					h3._title Fight Club
					p._text.content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
					= '\n\t\t\t\t\t'
					a(href="")._more READ MORE
				.flex-books-item
					.box-book
						p._title.headers.headers--white.headers--center Daredevils
							span._subtitle.subheaders Books are the best friends
						p._author.supertitle.supertitle--green - By Emma Anderson
					h3._title Daredevils
					p._text.content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
					= '\n\t\t\t\t\t'
					a(href="")._more READ MORE
			= '\n\t\t\t'
			a(href="#").books-btn.btn-primary Browse all books
	.page-testimonials
		.bg-black-left
		.bg-black-right
		.wrapper.slider
			.slider-item
				.ava
					= '\n\t\t\t\t\t'
					img(src="img/avatar2.jpg" alt="John Doe")._pic
				p._name John Doe
					span._position Editor
				p._text.content Lorem ipsum dolor sit amet, consectetur adipiscing elit
				i.fas.fa-quote-right
			.slider-item
				.ava
					= '\n\t\t\t\t\t'
					img(src="img/avatar3.jpg" alt="Jane Doe")._pic
				p._name Jane Doe
					span._position Designer
				p._text.content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				i.fas.fa-quote-right
			.slider-item
				.ava
					= '\n\t\t\t\t\t'
					img(src="img/avatar.jpg" alt="Kate Dennings")._pic
				p._name Kate Dennings
					span._position Calligraphy Expert
				p._text.content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
				i.fas.fa-quote-right
	.page-news
		.wrapper.-flex
			.author-img.-left
				= '\n\t\t\t\t'
				img(src="img/emma_anderson_second.jpg" alt="Emma Anderson")._pic
			.news
				p._author.supertitle - Emma Anderson
				h2._title.headers Upcoming Events
					span._subtitle.subheaders Some upcoming events you might be interested in
				.news-block
					h3._title <time class="news-block__date" datetime="2018-11-21">November&nbsp;21,&nbsp;2018</time>Book signing - San francisco, CA
					p._text.content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
					= '\n\t\t\t\t\t'
					a(href="#")._btn.btn-primary Register
				.news-block
					h3._title <time class="news-block__date" datetime="2018-11-21">November&nbsp;21,&nbsp;2018</time>Book reading - Los Angeles, CA
					p._text.content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
					= '\n\t\t\t\t\t'
					a(href="#")._btn.btn-primary Register
	.page-blog
		.wrapper
			h2.blog-title.headers.headers--center Latest from Blog
				span.blog-subtitle.subheaders Some of the latest posts from my personal blog
			.blog
				.blog-item
					.screen
						img(src="img/coffee_square.jpg" alt="Coffee")._img
					h3._title Importance of light in photography
						span._subtitle By
							span  Emma Anderson 
							|- <time class="blog__date" datetime="2018-06-20">June&nbsp;20<span>,</span>&nbsp;2018</time>
					p._text.content Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
				.blog-item
					.screen
						img(src="img/coffee_narrow.jpg" alt="Coffee")._img
					h3._title The tools you need for the perfection
						span._subtitle By
							span  Emma Anderson 
							|- <time class="blog__date" datetime="2018-06-25">June&nbsp;25<span>,</span>&nbsp;2018</time>
					p._text.content Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
				.blog-item
					.screen
						img(src="img/coffee_wide.jpg" alt="Coffee")._img
					h3._title Knowing the difference is important
						span._subtitle By
							span  Emma Anderson 
							|- <time class="blog__date" datetime="2018-08-22">August&nbsp;22<span>,</span>&nbsp;2018</time>
					p._text.content Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
			= '\n\t\t\t'
			a(href="#").blog-btn.btn-primary Read more in the blog
	.page-subscribe
		.wrapper.-flex
			.sub-desc
				h2._title Join Newsletter
				p._text.content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
			form(action="Subscribe" method="post").form
				input(type="email" placeholder="Enter your email")._email
				button(type="submit")._btn.btn-primary Subscribe
	.page-footer
		.wrapper
			.container
				.main-text
					= '\n\t\t\t\t'
					a(href="")._logo
					p._text.content Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					p._copyright.content &copy; 2018 Bukee Private Limited.
				.links
					h3._title Useful Links
					ul.links-list
						each val in ["About Bukee","Explore Our Ecosystem","Monthly Community Meetup","Privacy Policy"]
							li
								a(href="")._item=val
				.contacts
					h3._title Our Contacts
					p._address.content Amphitheatre Parkway, CA, 94043#[br]Call us on: #[a(href="tel:+4455663322").tel +4455663322]#[br]Email: #[a(href="mailto:support@bukee.mail").mail support@bukee.mail]
					ul.social
						each val in ['facebook-f','twitter','twitch','youtube','slack-hash','whatsapp']
							li._item
								a.fab(href="" target="_blank" class='fa-'+val)