/*Global*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	letter-spacing: $primarytracking;
	color: $typography;
}
h1, h2, h3, h4, h5, h6, ul, p {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}

/*headers*/
.headers {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 48px;
	line-height: normal;
	letter-spacing: $secondraytracking;
	color: $headerscolor;
}
.subheaders {
	display: block;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: $primarytracking;
	color: $subheaderscolor;
}
