/*Tags*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	letter-spacing: $primarytracking;
	color: $typography;
}
h1, h2, h3, h4, h5, h6, ul, p {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
button {
	border:none;
	&:hover {
		cursor: pointer;
	}
	&:focus {
		outline: none;
	}
}
img {
	vertical-align: bottom;
}
/*General*/
.wrapper {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	&--lines {
		padding: 50px 15px 162px;
		background-image: url(../img/bg_lines.png);
		background-origin: content-box;
		background-size: cover;
	}
	&--flex {
		display: flex;
		justify-content: space-between;
	}
}
.content {
	margin-bottom: 24px;
	&--white {
		color: $whitecolor;
	}
}
.btn-primary {
	display: inline-block;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	letter-spacing: $secondraytracking;
	line-height: normal;
	color: $whitecolor;
	padding: 12px 25px 12px 26px;
	border-radius: 3px;
	background-color: #65e4a1;
	background-image: linear-gradient(-90deg, #65e4ce 0%, #65e4a1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#65e4ce', endColorstr='#65e4a1', GradientType=1);
	box-shadow: 0px 2px rgba(101, 228, 125, 0.5),inset 0 48px rgba(255,255,255,0);
	transition: box-shadow 0.2s;
	&:hover {
		box-shadow: 0px 2px rgba(101, 228, 125, 0.5),inset 0 48px rgba(255,255,255,0.2);
	}
	&:active {
		box-shadow: inset 0 48px rgba(255,255,255,0.2);
		transform: translateY(2px);
	}
}
.author-img {
	position: relative;
	flex-basis: 435px;
	&--left {
		background-color: #5acab1;
		background-image: linear-gradient(-60deg, #426384 0%, #5acab1 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#426384', endColorstr='#5acab1', GradientType=1);
		top: 4px;
		height: 704px;
		right: 1px;
	}
	&--left &__pic {
		position: absolute;
		left: 11.727%;
		top: 6.961%;
	}
	&--right {
		background-color: #426384;
		background-image: linear-gradient(-60deg, #5acab1 0%, #426384 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5acab1', endColorstr='#426384', GradientType=1);
		height: 558px;
	}
	&--right &__pic {
		position: absolute;
		right: 10.118%;
		top: 8.604%;
	}
}
.fab {
	color: $subheaderscolor;
	transition: color 0.2s;
	&:hover, &:focus {
		color: $whitecolor;
	}
}

/*headers*/
.headers {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 48px;
	line-height: normal;
	letter-spacing: $secondraytracking;
	color: $headerscolor;
	&--white {
		color: $whitecolor;
	}
	&--center {
		text-align: center;
	}
	margin: 0 0 38px;
}
.subheaders {
	display: block;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: $primarytracking;
	color: $subheaderscolor;
	text-transform: none;
	margin: 5px 0 0;
}
.supertitle {
	font-size: 18px;
	letter-spacing: $primarytracking;
	line-height: normal;
	&--white {
		color: $whitecolor;
	}
	&--green {
		color: $subheaderscolor;
	}
}

/*page-main*/
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 181px;
	&__logo {
		flex-basis: 137px;
		height: 28px;
		background-image: url(../img/logo.svg);
	}
	&-list {
		flex-basis: 59.31%;
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: center;
		&__item {
			display: inline-block;
			font-size: 16px;
			letter-spacing: $primarytracking;
			line-height: 1.75;
			color: $whitecolor;
			transition: box-shadow 0.2s;
			&:hover, &:focus, &--active {
				box-shadow: 0 3px #65e496;
			}
		}
	}
	&__btn-mobile {
		padding: 0;
		background-color: transparent;
		display: none;
		width: 28px;
		height: 28px;
		background-image: url(../img/menu.svg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	&-list-mobile {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		width: 100%;
		background-color: #426384;
		background-image: linear-gradient(-60deg, #54b7a1 0%, #426384 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54b7a1', endColorstr='#426384', GradientType=1);
		li {
			margin-bottom: 10px;
		}
		&__btn-close {
			position: absolute;
			top: 51px;
			right: 17px;
			padding: 0;
			background-color: transparent;
			width: 25px;
			height: 25px;
			background-image: url(../img/cross.svg);
			background-repeat: no-repeat;
			background-size: cover;
			vertical-align: bottom;
		}
	}
}
.headerbox {
	display: flex;
	&-book {
		flex-basis: 408px;
		height: 639px;
		background-image: url(../img/book.svg);
		padding-left: 37px;
		margin-right: 54px;
		&__title {
			font-size: 36px;
			text-transform: uppercase;
			margin: 106px 0 392px;
		}
		&__subtitle {
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			margin: 0;
		}
		&__author {
			font-size: 14px;
			padding-left: 49px;
		}
	}
	&-desc {
		flex-basis: 571px;
		&__subtitle, &__author {
			text-indent: 2px;
		}
		&__author {
			margin: 0 0 23px;
		}
		&__btn {
			margin: 23px 0 20px;
			padding: 11px 25px 13px 26px;
		}
		&__tip {
			display: block;
			font-style: italic;
			letter-spacing: $primarytracking;
			color: $whitecolor;
			text-indent: -2px;
		}
	}
}
/*page-stats*/
.desc {
	flex-basis: 50.7%;
	&__author {
		margin: 15px 0 13px;
	}
	&__title {
		text-indent: -2px;
	}
	&__subtitle {
		text-indent: 0;
	}
	&__btn {
		margin: 23px 0 0 -1px;
		padding: 11px 29px 13px 29px;
	}
}
.stats {
	max-width: 1170px;
	padding: 0 15px;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-around;
	list-style-type: none;
	text-align: center;
	margin: 132px auto 0;
	&-item {
		font-family: 'Roboto Slab', serif;
		font-weight: 100;
		font-size: 80px;
		line-height: normal;
		letter-spacing: $secondraytracking;
		color: #65e49d;
		&__caption {
			display: block;
			font-family: 'Open Sans', sans-serif;
			font-weight: normal;
			font-size: 18px;
			letter-spacing: $secondraytracking;
			color: $typography;
			margin: 4px 0 0;
		}
	}
}
/*page-contents*/
.contents-title {
	text-indent: 2px;
}
.contents-subtitle {
	text-indent: 0;
}
.box-contents {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 83px 0 0;
	.about__title,
	.toc__title,
	.about__features {
		font-family: 'Roboto Slab', serif;
		font-weight: bold;
		font-size: 24px;
		line-height: 1;
		letter-spacing: $primarytracking;
		color: $headerscolor;
		margin: 0 0 20px;
	}
	.about {
		flex-basis: 41.1%;
		&__title {
			text-indent: 1px;
		}
		&__features {
			font-size: 18px;
			line-height: normal;
			margin: 30px 0 0;
			text-indent: 2px;
		}
	}
	.toc {
		flex-basis: 48.8%;
		&-list {
			margin: 25px 0 28px;
			padding-left: 0;
			columns: 2;
			column-gap: 18px;
			counter-reset: list;
			list-style-type: none;
			text-indent: 35px;
			&__element {
				position: relative;
				margin: 0 0 8px;
				&::before {
					counter-increment: list;
					content: counter(list) ". ";
				}
				&::after {
					position: absolute;
					top: 1px;
					left: 0;
					display: inline-block;
					content: '+';
					width: 22px;
					text-align: center;
					text-indent: 1px;
					line-height: 1;
					color: $whitecolor;
					padding: 3.5px 0;
					background-color: rgba(101,228,206,0.7);
					background: linear-gradient(-90deg, rgba(101,228,206,0.7) 0%, rgba(101,228,161,0.7) 100%) #5189a0;
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#65e4ce', endColorstr='#65e4a1', GradientType=1);
				}
			}
		}
		&__btn {
			display: none;
			padding: 11px 43px 13px 46px;
			margin-left: 1px;
		}
	}
	.fab {
		transform: translateY(1px);
		margin-right: 8px;
		&:hover, &:focus {
			color: $typography;
		}
	}
	.fa-stack-overflow {
		margin-left: 16px;
	}
}
/*page-books*/
.books-title {
	text-indent: 2px;
}
.books-subtitle {
	text-indent: 0;
}
.flex-books {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-around;
	margin: 85px 0 84px;
	&-item {
		flex-basis: 32.5%;
		.box-book {
			width: 269px;
			height: 409px;
			background-image: url(../img/minibook.svg);
			margin: 0 auto 35px;
			box-sizing: border-box;
			padding: 67px 0 0 32px;
			&__title {
				text-transform: uppercase;
				font-size: 24px;
				margin: 0 0 238px;
				text-indent: 2px;
			}
			&__subtitle {
				font-family: 'Open Sans', sans-serif;
				font-size: 12px;
				text-indent: 0;
				margin: 7px 0 0;
			}
			&__author {
				font-size: 12px;
				text-indent: -12px;
			}
		}
		&__title {
			font-family: 'Roboto Slab', serif;
			font-size: 24px;
			letter-spacing: $primarytracking;
			line-height: 1;
			color: $headerscolor;
			margin: 0 0 17px;
		}
		&__text {
			margin: 0 0 17px;
		}
		&__more {
			font-weight: bold;
			color: $subheaderscolor;
			&:hover, &:focus {
				box-shadow: inset 0 -2px;
			}
		}
	}
}
.books-btn {
	padding: 11px 32px 13px 33px;
}
/*page-testimonials*/
.bg-black {
	&-left,&-right {
		position: absolute;
		top: 0;
		background: $headerscolor;
		width: 50%;
		height: 600px;
		z-index: -1;
	}
	&-left {
		left: 0;
		transform: skewY(4.3deg);
	}
	&-right {
		right: 0;
		transform: skewY(-4.3deg);
	}
}
.slider {
	&-item {
		text-align: center;
		padding: 5px 201px 0;
		position: relative;
		display: none;
		&:last-child {
			display: block;
		}
		&:focus {
			outline: none; /*for slick.js*/
		}
		.ava {
			width: 152px;
			height: 152px;
			overflow: hidden;
			border-radius: 50%;
			margin: 0 auto 22px;
			transform: translateX(-1px);
			position: relative;
			&__pic {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%,-3.5%);
			}
		}
		.fa-quote-right {
			position: absolute;
			top: 0;
			left: 53.6%;
			font-size: 48px;
			letter-spacing: $primarytracking;
			line-height: 1;
			color: $subheaderscolor;
		}
		&__name {
			font-family: 'Roboto Slab', serif;
			font-weight: bold;
			font-size: 24px;
			letter-spacing: $primarytracking;
			line-height: normal;
			color: $subheaderscolor;
			margin: 0 0 35px;
			text-indent: -2px;
		}
		&__position {
			display: block;
			font-family: 'Open Sans', sans-serif;
			font-weight: normal;
			font-size: 15px;
			letter-spacing: $primarytracking;
			color: $blackcolor;
			margin: 3px 0 0;
		}
		&__text {
			color: $blackcolor;
			line-height: 1.866666666;
			padding-left: 3px;
		}
	}
	.slick-list {
		&:hover {
			cursor: pointer;
		}
	}
	.slick-dots {
		list-style-type: none;
		display: flex;
		justify-content: center;
		margin: 20px 0 0 13px;
		li {
			margin-right: 10px;
		}
		button {
			overflow: hidden;
			text-indent: 100px;
			padding: 0;
			width: 8px;
			height: 8px;
			border-radius: 4px;
			background-color: rgba(101,228,206,0.7);
			background: linear-gradient(-90deg, rgba(101,228,206,0.7) 0%, rgba(101,228,161,0.7) 100%) $headerscolor;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#65e4ce', endColorstr='#65e4a1', GradientType=1);
			transition: width 0.2s;
		}
		.slick-active button {
			width: 37px;
		}
	}
}
/*page-news*/
.news {
	flex-basis: 48.8%;
	&__subtitle {
		text-indent: 2px;
	}
	&__author {
		margin: 0 0 13px;
		text-indent: 3px;
	}
	&-block {
		margin: 42px 0 59px;
		&__title {
			font-family: 'Roboto Slab', serif;
			font-size: 18px;
			letter-spacing: $primarytracking;
			line-height: normal;
			color: $headerscolor;
			margin: 0 0 16px;
			padding-left: 1px;
		}
		&__date {
			display: block;
			font-family: 'Open Sans', sans-serif;
			font-weight: normal;
			font-size: 15px;
			letter-spacing: $primarytracking;
			color: $typography;
			margin: 0 0 6px;
			text-indent: -1px;
		}
		&__btn {
			padding: 11px 27px 13px 34px;
		}
	}
}
/*page-blog*/
.blog-title {
	text-indent: 2px;
}
.blog {
	display: flex;
	justify-content: space-between;
	margin: 85px 0 60px;
	text-align: left;
	&-item {
		flex-basis: 372px;
		&:first-child, &:last-child {
			flex-basis: 369px
		}
		&:last-child {
			.screen {
				transform: translateX(1px);
			}
			.blog-item__title {
				margin-left: 1px;
			}
			.blog-item__text {
				margin-left: -1px;
			}
		}
		.screen {
			height: 224px;
			overflow: hidden;
			margin: 0 0 16px;
			position: relative;
			&__img {
				max-width: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				min-height: 224px;
				object-fit: cover;
			}
		}
		&__title {
			font-family: 'Roboto Slab', serif;
			font-size: 18px;
			letter-spacing: $primarytracking;
			line-height: normal;
			color: $headerscolor;
			margin: 0 0 14px;
		}
		&__subtitle {
			display: block;
			font-family: 'Open Sans', sans-serif;
			font-weight: normal;
			font-size: 15px;
			letter-spacing: $primarytracking;
			color: #80809b;
			margin: 5px 0 0;
			text-indent: -2px;
			span, .blog__date {
				color: $subheaderscolor;
			}
		}
		&__text {
			margin-left: -2px;
		}
		.blog__date span {
			color: #80809b;
		}
	}
}
.blog-btn {
	padding: 11px 31px 13px 34px;
	margin-left: -4px;
}
/*page-subscribe*/
.sub-desc {
	flex-basis: 47.8%;
	&__title {
		font-family: 'Roboto Slab', serif;
		font-size: 48px;
		letter-spacing: $secondraytracking;
		line-height: 1;
		color: $headerscolor;
		margin: 0 0 12px;
	}
	&__text {
		padding-left: 1px;
	}
}
.form {
	flex-basis: 571px;
	&__email {
		width: calc(100% - 56px);
		border-radius: 3px;
		border: none;
		background-color: $headerscolor;
		letter-spacing: $primarytracking;
		line-height: 1.6;
		color: $whitecolor;
		border: 1px solid $headerscolor;
		padding: 10px 27px 12px;
		margin: 5px 0 20px;
		transition: border 0.2s;
		&::placeholder               {color: #9191b5;}
		&::-webkit-input-placeholder {color: #9191b5;}
		&::-moz-placeholder          {color: #9191b5;opacity: 1;}
		&:-moz-placeholder           {color: #9191b5;}
		&:-ms-input-placeholder      {color: #9191b5;}
		&::-ms-input-placeholder     {color: #9191b5;}
		&:focus {
			outline: none;
			border: 1px solid $subheaderscolor;
		}
	}
	&__btn {
		width: 100%;
		padding: 11px 0 13px;
		text-indent: 4px;
	}
}
/*page-footer*/
.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.main-text {
	flex-basis: 34.1%;
	&__logo {
		display: block;
		width: 137px;
		height: 28px;
		background-image: url(../img/logo_footer.svg);
		margin: 0 0 26px;
	}
	&__text, &__copyright {
		letter-spacing: $secondraytracking;
		color: $blackcolor;
	}
}
.links, .contacts {
	&__title {
		font-family: 'Roboto Slab', serif;
		font-size: 18px;
		letter-spacing: $secondraytracking;
		line-height: normal;
		color: $subheaderscolor;
		text-transform: uppercase;
		margin: 9px 0 0px;
	}
}
.links {
	flex-basis: 25.6%;
	&-list {
		list-style-type: none;
		margin: 18px 0 0;
		text-indent: 1px;
		&__item {
			letter-spacing: $secondraytracking;
			color: $blackcolor;
			line-height: 1.866666666;
			&:hover {
				color: $whitecolor;
				text-decoration: underline;
			}			
		}
	}
}
.contacts {
	flex-basis: 23.1%;
	&__address {
		letter-spacing: $secondraytracking;
		color: $blackcolor;
		margin: 20px 0 11px -1px;
		&::first-line {
			white-space: normal;
		}
		.tel,.mail {
			color: $blackcolor;
			&:hover {
				color: $whitecolor;
				text-decoration: underline;
			}
		}
	}
	.social {
		display: flex;
		list-style-type: none;
		&__item {
			margin-right: 13px;
		}
	}
}
/*pages*/
.page-main {
	background-color: #426384;
	background-image: linear-gradient(-60deg, #54b7a1 0%, #426384 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54b7a1', endColorstr='#426384', GradientType=1);
}
.page-stats {
	padding: 160px 0;
}
.page-contents,.page-blog {
	background-color: #f5f6fa;
}
.page-contents {
	padding: 143px 0 144px;
}
.page-books {
	padding: 142px 0 190px;
	text-align: center;
}
.page-testimonials {
	position: relative;
	padding: 140px 0 111px;
}
.page-news {
	padding: 189px 0 131px;
}
.page-blog {
	padding: 146px 0 161px;
	text-align: center;
}
.page-subscribe {
	padding: 155px 0 130px;
}
.page-footer {
	padding: 160px 0 130px;
	background-color: $headerscolor;
}