@media screen and (max-width: 1230px) {
    .wrapper {
        max-width: 900px;
        &--lines {
            padding: 50px 15px 81px;
        }
        &--flex {
            align-items: center;
        }
        &--flexdir_column {
            flex-direction: column;
        }
        &--flexdir_columnrev {
            flex-direction: column-reverse;
        }
    }
    .author-img {
        width: 435px;
        &--left {
            flex-basis: 704px;
        }
        &--right {
            flex-basis: 558px;
        }
    }
    /*page-main*/
    .nav {
        margin-bottom: 90px;
        &-list {
            flex-basis: 72%;
        }
    }
    .headerbox {
        &-book {
            flex-basis: 368px;
            height: 480px;
            padding: 96px 0 0 33px;
            margin-right: 37px;
            &__title {
                margin: 0 0 354px;
            }
            &__author {
                padding-left: 45px;
            }
        }
        &-desc {
            flex-basis: 461px;
        }
    }
    /*page-stats*/
    .page-stats {
        padding: 80px 0;
    }
    .desc {
        flex-basis: auto;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
        &__author, &__text {
            text-align: left;
        }
    }
    .stats {
        margin: 66px auto 0;
    }
    /*page-contents*/
    .page-contents {
        padding: 72px 0;
    }
    .box-contents {
        margin: 0;
        .about, .toc {
            flex-basis: auto;
            width: 100%;
        }
        .toc {
            margin: 20px 0 0;
            max-width: 580px;
        }
    }
    /*page-books*/
    .page-books {
        padding: 71px 0 95px;
    }
    .flex-books {
        justify-content: space-between;
        margin: 0 0 42px;
    }
    /*page-testimonials*/
    .page-testimonials {
        padding: 70px 0 55px;
    }
    .bg-black-left,
    .bg-black-right {
        height: 100%;
    }
    .slider-item {
        padding: 5px 0 0;
    }
    /*page-news*/
    .page-news {
        padding: 94px 0 65px;
    }
    .news {
        flex-basis: auto;
        width: 100%;
        margin-bottom: 59px;
        &__title {
            text-align: center;
        }
    }
    /* page-blog*/
    .page-blog {
        padding: 73px 0 80px;
    }
    .blog {
        flex-direction: column;
        align-items: center;
        margin: 0 0 30px;
        &-item {
            flex-basis: auto;
            width: 100%;
            margin-bottom: 24px;
            &:first-child, &:last-child {
                flex-basis: auto;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    /*page-subscribe*/
    .page-subscribe {
        padding: 77px 0 65px;
    }
    .sub-desc {
        flex-basis: auto;
        width: 100%;
        &__title {
            text-align: center;
        }
    }
    .form {
        flex-basis: auto;
        width: 571px;
    }
    /*page-footer*/
    .page-footer {
        padding: 56px 0;
    }
    .contacts {
        flex-basis: 28.3%;
    }
}
@media screen and (max-width: 950px) {
    .wrapper {
        &--lines {
            background-size: contain;
        }
    }
    /*page-main*/
    .nav {
        &__logo {
            margin: 0 auto 20px;
        }
        &-list {
            flex-basis: 100%;
        }
    }
    .headerbox {
        flex-direction: column-reverse;
        align-items: center;
        &-book {
            flex-basis: 480px;
            width: 368px;
            margin: 20px auto 0;
        }
        &-desc {
            flex-basis: auto;
            width: 100%;
            text-align: center;
            &__author, &__text, &__tip {
                text-align: left;
            }
        }
    }
    /*page-books*/
    .flex-books {
        flex-direction: column;
        margin: 130px 0 21px;
        &-item {
            margin: 0 0 115px;
            flex-basis: auto;
            .box-book {
                transform: scale(1.45);
                margin: 0 auto 110px;
            }
            &:last-child {
                margin: 0 0 21px;
            }
            &__text {
                margin: 0 auto 17px;
                max-width: 381px;
            }
        }
    }
    /*page-footer*/
    .main-text {
        flex-basis: 296px;
    }
    .links {
        flex-basis: 230px;
    }
    .contacts {
        flex-basis: 255px;
    }
}
@media screen and (max-width: 850px) {
    /*page-stats*/
    .stats {
        flex-direction: column;
        &-item {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
@media screen and (max-width: 827px) {
    /*page-footer*/
    .container {
        max-width: 632px;
        margin: 0 auto;
    }
    .main-text {
        order: 1;
        flex-basis: 100%;
        margin: 20px 0 0;
    }
}
@media screen and (max-width: 700px) {
    /*page-main*/
    .nav-list {
        li {
            flex-basis: 33%;
            margin-bottom: 10px;
        }
    }
}
@media screen and (max-width: 620px) {
    .author-img {
        width: 75.918%;
        flex-basis: auto;
        height: 0;
        &--left {
            padding-top: 122.87%;
        }
        &--right {
            padding-top: 97.384%;
        }
        &__pic {
            max-width: 100%;
        }
    }
    /*page-contents*/
    .box-contents .toc-list {
        columns: 1;
        text-indent: 31px;
    }
    /*page-subscribe*/
    .form {
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    /*page-books*/
    .flex-books {
        margin: 0 0 21px;
        &-item {
            margin: 0 0 21px;
            .box-book {
                transform: scale(1);
                margin: 0 auto 35px;
            }
            &__text {
                max-width: 313px;
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .headers,
    .sub-desc__title {
        font-size: 38px;
    }
    /*page-main*/
    .headerbox-book {
        flex-basis: 327px;
        width: 251px;
        padding: 65px 0 0 22px;
        &__title {
            font-size: 24px;
            margin: 0 0 240px;
        }
        &__subtitle, &__author {
            font-size: 12px;
        }
        &__author {
            padding-left: 30px;
        }
    }
    /*page-stats*/
    .stats {
        &-item {
            font-size: 60px;
        }
    }
}
@media screen and (max-width: 400px) {
    /* page-blog*/
    .blog-item {
        &__subtitle {
            font-size: 14px;
        }
    }
}
/*ie*/
@media all and (-ms-high-contrast:none) {
    .wrapper {
        &--lines {
            background-repeat: no-repeat;
        }
    }
    .bg-black {
        &-left,&-right {
            width: 50.12%;
        }
    }
}
@media screen and (min-width: 1231px) and (-ms-high-contrast:none) {
    .wrapper {
        &--lines {
            background-position-y: -50px;
        }
    }
}
@media screen and (max-width: 1230px) and (-ms-high-contrast:none) {
    .wrapper {
        &--lines {
            background-origin: padding-box;
            background-size: 97.1% 100%;
            background-position: 13px 0;
        }
    }
}
@media screen and (max-width: 950px) and (-ms-high-contrast:none) {
    .wrapper {
        &--lines {
            background-size: 97.1% 100%;
        }
    }
}
/* Safari 5.1-6.0, Chrome 10-24 */
#{$safari} .nav__logo {
    width: 137px;
    display: block;
}
#{$safari} .nav-list {
    width: 72%;
}
#{$safari} .headerbox-book {
    width: 368px;
}
#{$safari} .headerbox-desc {
    width: 461px;
}
#{$safari} .box-contents {
    display: block;
}
#{$safari} .flex-books-item {
    width: 32.5%;
}
#{$safari} .slider-item .ava__pic {
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
    mask-image: radial-gradient(circle, white, black);
}
#{$safari} .form__email {
    width: 90.192644483%;
}
#{$safari} .main-text {
    width: 34.1%;
}
#{$safari} .links {
    width: 25.6%;
}
#{$safari} .contacts {
    width: 28.3%;
}