@media screen and (max-width: 1230px) {
    .wrapper {
        max-width: 900px;
        &--flex {
            flex-direction: column;
            align-items: center;
        }
    }
    /*page-contents*/
    .page-contents {
        padding: 72px 0;
    }
    .box-contents {
        margin: 0;
        .about, .toc {
            flex-basis: auto;
        }
        .toc {
            margin: 20px 0 0;
        }
    }
    /*page-books*/
    .page-books {
        padding: 71px 0 95px;
    }
    .flex-books {
        justify-content: space-between;
        margin: 0 0 42px;
    }
    /* page-blog*/
    .page-blog {
        padding: 73px 0 80px;
    }
    .blog {
        flex-direction: column;
        margin: 0 auto 30px;
    }
    /*page-subscribe*/
    .page-subscribe {
        padding: 77px 0 65px;
    }
    .sub-desc {
        flex-basis: auto;
        width: 100%;
        &__title {
            text-align: center;
        }
    }
    .form {
        flex-basis: auto;
        width: 571px;
    }
    /*page-footer*/
    .page-footer {
        padding: 56px 0 65px;
    }
    .contacts {
        flex-basis: 28.3%;
    }
}
@media screen and (max-width: 950px) {
    /*page-books*/
    .flex-books {
        flex-direction: column;
        margin: 130px 0 21px;
        &-item {
            margin: 0 0 115px;
            flex-basis: auto;
            .box-book {
                transform: scale(1.45);
                margin: 0 auto 110px;
            }
            &:last-child {
                margin: 0 0 21px;
            }
            &__text {
                margin: 0 auto 17px;
                max-width: 381px;
            }
        }
    }
    /*page-footer*/
    .main-text {
        flex-basis: 296px;
    }
    .links {
        flex-basis: 230px;
    }
    .contacts {
        flex-basis: 255px;
    }
}
@media screen and (max-width: 827px) {
    /*page-footer*/
    .container {
        max-width: 632px;
        margin: 0 auto;
    }
    .main-text {
        order: 1;
        flex-basis: 100%;
        margin: 20px 0 0;
    }
}
@media screen and (max-width: 620px) {
    /*page-contents*/
    .box-contents .toc-list {
        columns: 1;
        text-indent: 31px;
    }
    /*page-subscribe*/
    .form {
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    /*page-books*/
    .flex-books {
        margin: 0 0 21px;
        &-item {
            margin: 0 0 21px;
            .box-book {
                transform: scale(1);
                margin: 0 auto 35px;
            }
            &__text {
                max-width: 313px;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    /* page-blog*/
    .blog-item {
        &__title, &__subtitle {
            font-size: 14px;
        }
        &__text {
            font-size: 12px;
            letter-spacing: $primarytracking;
        }
    }
}